.main-contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 40px 20px;
  gap: 40px;
  margin: 40px auto;
  max-width: 1200px;
}

.contact-left {
  flex: 1;
  margin-top: 120px;
  min-width: 280px;
}

.contact-left h1 {
  font-size: 2.5rem;
  color: rgb(5, 5, 67);

  margin-bottom: 15px;
}

.contact-left p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.contact-form-container {
  flex: 1;
  min-width: 280px;
}

.contact-form-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(5, 5, 67);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input {
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
}
#message {
  padding: 50px 15px;
}
.contact-form input::placeholder {
  color: #888;
}

.contact-form button {
  padding: 12px;
  background-color: rgb(5, 5, 67);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #098711;
}

/* Optional: Add some responsiveness */
@media (max-width: 768px) {
  .main-contact-container {
    flex-direction: column;
  }
}
